<h1>患者情報一覧</h1>

<%= link_to "患者新規登録", new_client_path %>

<div id="clients">
  <% @clients.each do |client| %>
    <%= render client %>
    <p>
      <%= link_to "患者詳細", client %>
    </p>
  <% end %>
</div>


