/*
 *= require_tree .
 *= require_self
 */

/* ヘッダー全体 */
header {
  color: #805505;
  background-color: #f5ec85;
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

/* ナビゲーションのリンク */
nav a {
  margin-right: 15px;
  text-decoration: none;
  color:#805505 ;
 
}

/* フラッシュメッセージ */
.notice {
  color: green;
}

.alert {
  color: red;
}

#schedule-detail-modal p {
  margin: 4px 0;
  line-height: 1.3;
  font-size: 14px;
}